{% extends "parent.html" %}
{% block body %}
<style>
    div.scroll{
        
        height: 400px;
        overflow-y: scroll;
    }
</style>
<p ><h1 style="background-color: white; color: black;">How can "CRM" help you accelerate revenue?</h1></p>
<br>

<div class="scroll">
<h1 style="text-align: center;">Close deals faster with a 360° view 
    <br>
    of your customer</h1>
    <h3 style="text-align: center;">
        Get a complete view of your customer’s
        <br>
         interactions to deliver personalized
         <br>
          experiences. Leverage data to drive revenue
    </h3>
    <h1 style="text-align: center;">
        Improve seller effectiveness by 
        <br>
        streamlining  your sales process
    </h1>
    <h3 style="text-align: center;">
        Have conversations with context, 
        <br>
        automate time-consuming tasks, and spend 
        <br>
        valuable time selling and not on mundane legwork.
    </h3>
    <h1 style="text-align: center;">
        Reduce IT complexity & cost 
        <br>
        with a comprehensive solution
    </h1>
    <h3 style="text-align: center;">
        Keep teams happy with a solution 
        <br>
        that is easy to implement, and easier to use.
        <br>
        Increase adoption, reduce costs, and boost morale
    </h3>
    </div>
{% endblock body %}