{% extends "parent.html" %}
{% block body %}
<style>
    div.ex1{
        
        height: 400px;
        overflow-y: scroll;
    }
</style>
    <h1><p style=" text-align: center; color: black;"><b style="background-color: white;">Wellcome To <i style=" background-color: white; color: B;">"CRM"</i> </b></p></h1>
    <br>
    <div class="ex1">
   <h1 style="color: red ; "><p><b>CRM stands for Customer Relations Management...</b></p></h1>
   <h2>
    It is a software product type allowing for automated collection and processing of various data that your customers submit on your website. However, CRM is not only about collecting basic customer data, as standard web analytics tools do this well enough. 
    <br>
   <p style="color: red;">CRM software helps to do the following:</p> 
    <br>
    Managing your existing customer base and adding new prospects from leads.
    <br>
    <br>
    Connecting your marketing and sales operations into a streamlined process.
    <br>
    <br>
    Building a centralized marketing, sales, and customer support strategy.
    <br>
    <br>
    Customer relationship management is also used in the business-to-consumer area, though it plays a somewhat different role here because CRM for business customers is usually based on processes and solutions that are specifically tailored to individual customers.
   </h2>

    
    </div>
    
</h1>
{% endblock body %}