{% extends "custparent.html" %}
{% block body %}
<h1 style=" text-decoration: underline; color:rgb(1, 1, 11);text-align:center;">
    Customer Complain Box
</h1>
<form action="{% url 'custzone:raisecomplain' %}" method="post">
    {% csrf_token %}
        <table style="margin:0 auto;width:60%">
            <tr>
                <td>
                    <b>Complain Box-- ></b>
                </td>
                <td>
                    <textarea rows="5" cols="30" name="complaintext" style="resize:none" placeholder="Enter Your Complain"></textarea>
                </td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>
                    <input style="background-color: rgb(68, 145, 68);" type="submit" value="Submit"/>
                </td>
            </tr>
        </table>
</form>
{% endblock body %}