{% extends "custparent.html" %}
{% block body %}
<style>
    div.scroll{
        
        height: 650px;
        overflow-y: scroll;
    }
    </style>

<div class="scroll">
<h1 style=" background-color: white; color:black;text-align:center;">
    This is a CRM Model For "Marc Lab"
</h1>
<br>
<br>

<h2>
    Barely 21 years back when <b style="color: white; background-color: black;"> "MARC LABORATORIES PVT. LIMITED"</b> came into being in 1986,
    <br>
    it was a tiny seedling embedded in the realm of dream which has now sprouted 
    <br>
    into a blossoming creeper, itching to spread its tendrils to kiss the 
    <br>
    horizon of the Pharma world.
    <br>
    
    Quality consciousness better management skills and professional ethics have enabled this organization to emerge as a force to reckon with in the field of Pharma world.
    </h2>
    </div>
{% endblock body %}